<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.Carrito_ComprasConnectionString"
            connectionString="Data Source=MELKY\SQLEXPRESS;Initial Catalog=Carrito_Compras;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>